---
import Flower from "../components/Flower.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<div class="flowers">
		<!-- Flower  -->
		<Flower />
	</div>
</Layout>
