---
import Leaf from "./Leaf.astro";
import Stem from "./Stem.astro";
---

<div class="flower">
    <Leaf />
    <Stem />
</div>

<style>
    .flower {
        position: absolute;
        bottom: 10vmin;
        transform-origin: bottom center;
        z-index: 10;
        --fl-speed: 0.8s;

        @media (min-width: 640px) {
            animation: moving-flower-1 4s linear infinite;
        }
    }

    @keyframes moving-flower-1 {
        0%,
        100% {
            transform: rotate(2deg);
        }

        50% {
            transform: rotate(-2deg);
        }
    }
</style>
